
html {
    font-size: 16px;
}
@media (max-width: 900px) {
    html { font-size: 15px; }
}
@media (max-width: 400px) {
    html { font-size: 13px; }
}

body {
  margin: 0;
  font-family: sans-serif;

}

div#page {
  display: flex;
  min-height: 100vh;
  flex-flow: column nowrap;
}

div#header {
  flex-basis: 110px;
  color: white;
  background-color: #429009;
  padding: 10px 20px;
}

div#main {
  flex-grow: 1;
  padding: 10px 20px;
}

div#footer {
  flex-grow: 0;
  color: white;
  background-color: #153903;
  padding: 10px 20px;
}